@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-Light.woff2') format('woff2'),
        url('HvDTrial_BrandonText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-BlackItalic.woff2') format('woff2'),
        url('HvDTrial_BrandonText-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-Black.woff2') format('woff2'),
        url('HvDTrial_BrandonText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-BoldItalic.woff2') format('woff2'),
        url('HvDTrial_BrandonText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-Bold.woff2') format('woff2'),
        url('HvDTrial_BrandonText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-LightItalic.woff2') format('woff2'),
        url('HvDTrial_BrandonText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-MediumItalic.woff2') format('woff2'),
        url('HvDTrial_BrandonText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-Medium.woff2') format('woff2'),
        url('HvDTrial_BrandonText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-RegularItalic.woff2') format('woff2'),
        url('HvDTrial_BrandonText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-Regular.woff2') format('woff2'),
        url('HvDTrial_BrandonText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-ThinItalic.woff2') format('woff2'),
        url('HvDTrial_BrandonText-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brandon Text';
    src: url('HvDTrial_BrandonText-Thin.woff2') format('woff2'),
        url('HvDTrial_BrandonText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

